
.menuBackground {
    -fx-background-image: url("../images_cranio/Screen_title.png");
    -fx-background-size: stretch;
    -fx-position: relative;
}

.topLeft {
    margin: 0;
    padding: 0;
}

.menuButton {
    position:absolute;
    bottom:0;
    right:0;
}

.center{
    width: 50%;
    margin: 0 auto;
}