
.menuBackground {
    -fx-background-image: url("../images_cranio/Screen_title.png");
    -fx-background-size: stretch;
    -fx-background-position: relative;
}

.gameSettingsBackground{
    -fx-background-image: url("../images_cranio/GameSettings_background.png");
    -fx-background-size: stretch;
    -fx-background-position: relative;
}

.solidBackground {
    -fx-background-color: #485f93;
    -fx-min-width: 25%;
    -fx-min-height: 25%;
}

.solidPanel > *{
    -fx-background-color: #485f93;
}

.solidPanel > *.label.content {
    -fx-font-size: 20px;
    -fx-background-color: #707ba8;
}

.solidPanel > *.header-panel *.label{
    -fx-font-size: 24px;
}